&__nav-list {
  margin-top: $spacer*3;
}

&__nav-item {
  display: flex;
}

&__nav-link {
  color: #d6d6d6;
  display: inline-block;
  padding: $spacer/2 0;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #e6e6e6;
  }
}

&__counter {
  background-color: #26b633;
  color: $primary-white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: $spacer/6;
  border-radius: 50%;
}
