.profile {
  &__info {
    margin: $spacer*0.75 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: 0;
    color: #747474;
    font-size: 14px;
  }

  &__company {
    color: #999999;
    font-size: 12px;
  }

  & svg {
    fill: $primary-white;
  }
}


