@keyframes circlePit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.preloader {
  border: 1px solid $primary-gray;
  border-left-color: transparent;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-name: circlePit;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
