{% set links = [
  {
    name: 'Главная',
    count: 0,
    path: '/'
  },
  {
    name: 'Тендеры',
    count: 22,
    path: '/tenders'
  },
  {
    name: 'Заказы',
    count: 22,
    path: '/orders'
  },
  {
    name: 'Бухгалтерия',
    count: 0,
    path: '/bookkeeping'
  },
  {
    name: 'Портфолио',
    count: 0,
    path: '/portfolio'
  },
  {
    name: 'Настройки',
    count: 0,
    path: '/settings'
  },
  {
    name: 'Выход',
    count: 0,
    path: '/exit'
  }
] %}

<ul class="panel__nav-list list-unstyled">
  {% for link in links %}
    <li class="panel__nav-item">
      <a href="{{link.path}}" class="panel__nav-link">{{link.name}}</a>
      {% if link.count %}
        <span class="panel__counter">{{link.count}}</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
