<div class="profile__inner">
  <span class="profile__img">
    <svg width="80" height="80">
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="./images/fill.svg#user">
      </use>
    </svg>
  </span>
  <section class="profile__info">
    <header class="profile__header">
      <h6 class="profile__name">Аркадий Райкин</h6>
      <small class="profile__company">ТриумпЭкспо</small>
    </header>
  </section>
</div>
