.tanders {
  padding: $spacer*2 $spacer;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    margin: $spacer 0;
    box-shadow: 2px 2px 4px #cccccc;
    padding: $spacer*2;

    display: flex;
    flex-wrap: wrap;
  }
}

.tander {
  width: 100%;

  &__header {
    display: block;
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__footer {
    width: 100%;
    margin: $spacer 0;
  }
}
